<div class="container">
    <div style="display: flex; justify-content: space-between">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{operationDb.numOfCategories}}</h1>
          <p class="card-text">Categories</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{operationDb.numOfEvents}}</h1>
          <p class="card-text">Events</p>
        </div>
      </div>
    </div>  
</div>